numpy==1.18.4
starlette==0.13.2
uvicorn==0.11.5
gunicorn==19.9.0
email-validator==1.1.1
requests==2.22.0
idna==2.8
grpcio-tools==1.31.0
grpcio==1.31.0
msgpack==1.0.0
faker==4.1.2
pytest==6.0.1
pytest-grpc==0.8.0
